<body>
    <ul>
        {% for item in li %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <div>
        <select id='pg' onchange="ChangePageSize(this)">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">100</option>
        </select>
    </div>

    <div class="pagination">
        {{ page_str }}
    </div>

    <script src="/static/jquery-2.1.4.js"></script>
    <script src="/static/jquery.cookie.js"></script>

    <script>

        $(function () {
            const v = $.cookie('per_page_count', {'path': '/user_list/'});
            $('#pg').val(v);
        });

        function ChangePageSize(ths) {
            const v = $(this).val();
            $.cookie('per_page_count',v,{'path':'/user_list/'});
            location.reload()
        }
    </script>
</body>